version: "3.9"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    command: start-dev --http-port 8080
    environment:
      # Recommended new variables (Keycloak 26+)
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_ADMIN_USERNAME:-admin}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_ADMIN_PASSWORD:-admin}
    ports:
      - "8080:8080"

  api:
    build: .
    depends_on:
      - keycloak
    environment:
      KEYCLOAK_SERVER_URL: http://keycloak:8080

      KEYCLOAK_REALM: ${KEYCLOAK_REALM:-master}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID:-backend-service}

      KEYCLOAK_ADMIN_REALM: ${KEYCLOAK_ADMIN_REALM:-master}
      KEYCLOAK_ADMIN_CLIENT_ID: ${KEYCLOAK_ADMIN_CLIENT_ID:-admin-cli}

      # Make API use the same admin credentials as Keycloak
      KEYCLOAK_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USERNAME}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}

      SERVICE_USERNAME: ${SERVICE_USERNAME:-service-user}
      SERVICE_PASSWORD: ${SERVICE_PASSWORD:-service-pass}
    ports:
      - "8000:8000"
